@font-face {
    font-family: Agency;
    src: url("fonts/AGENCYB.ttf") format("truetype");
    font-weight: bold;
}

body{
    background-color: rgb(94, 146, 206);
    font-family: Agency;
}

.navbar{
    background-color: rgb(66, 100, 151);
    border: 1px solid rgb(255, 255, 255);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    color:rgb(255, 255, 255);
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.score-list-entry{
    background-color: rgb(88, 88, 88);
    width:auto;
    padding-left:10px;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin-bottom: 10px;;
}

#score-container{
    overflow: auto;
}

.score-val{
    float:right;
    margin-right:10px;
}

#leaderboard-option-container{
    font-size: 20px;
}

@media (min-width: 992px) {
  .leaderboard-option-element{
    width: 50%;
    float:left;
    margin-bottom:10px;
  }
}

@media (max-width: 991px) {
  .leaderboard-option-element{
    width: 100%;
    float:left;
    margin-bottom:10px;
  }
}


.leaderboard-element-padding{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-label-container{
  text-align: center;
  width:40%;
}

.leaderboard-button-container{
  width:60%;
}


.leaderboard-button-body{
  background-color: rgb(25, 68, 102);
  border: 1px solid white;
}

#map-image{
    width:100%;
}

#body-element{
    background-color: rgb(66, 100, 151);
    border: 1px solid white;
    padding: 15px;
    color: rgb(255, 255, 255);
    height: 100%;
}

.body-padding{
    padding: 15px;
    background-color: rgb(94, 146, 206);
}

.body-element-header{
    margin-top: 0px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  


